body {
  background-image: url("IMG-0612.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: milk;
  src: url(LemonMilk.otf);
}

div.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.body-wrapper {
  position: relative;
  width: 60%;
  display: inline-flex;
  padding: 30px;
  margin-right: 300px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  height: inherit;
}

h1 {
  font-family: milk;
  padding-top: 20px;
  margin-left: 5%;
  font-size: 3.4rem;
}

div>p {
  padding-left: 10px;
  padding-right: 10px;
}

.diets {
  border: red 5px solid;
  border-radius: 20px;
  margin-top: 60px;
  background-color: white;
}

div.diets>p {
  padding-bottom: 10px;
}

.story {
  border: red 5px solid;
  border-radius: 20px;
  margin-top: 10px;
  background-color: white;
}

.TA_selfserveprop {
  margin-top: 50px;


}

p.break {
  padding-bottom: 30px;
}
